body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    color: #fff;
}

header {
    position: relative;
    height: 100vh;
    background: url('img.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 4em;
    margin: 0;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffa500;
}

.buttons {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background 0.3s, color 0.3s;
    border-radius: 25px;
}

.resume {
    border-color: #ffa500;
}

.btn:hover {
    background: #ffa500;
    color: #000;
}

.scroll-down {
    position: absolute;
    bottom: -300px; /* Position it close to the bottom */
    left: 50%;
    transform: translateX(-50%);
}


.scroll-down a {
    color: #fff;
    font-size: 2em;
    transition: color 0.3s;
}

.scroll-down a:hover {
    color: #ffa500;
}


#about {
    padding: 50px 20px;
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-container img {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-text {
    max-width: 600px;
}

#contact {
    padding: 50px 20px;
    background: #333;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.2em;
    margin: 10px 0;
}

#contact i {
    margin-right: 10px;
}
